<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/LogoTwitch.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Clone Twitch</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body{
		background-color: #0E0E10;
		color: white;
		margin: 0;
		box-sizing: border-box;
	}
</style>